@use '../../global' as g;

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile-settings {
    max-width: 600px;
    margin: 0 auto;
    .profile-settings-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
        > .profile-settings-header-main {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > .back {
                background: url('../../assets/images/left-arrow.svg') no-repeat center;
                border: none;
                height: 1rem;
                width: 1.2rem;
                > .hidden {
                    display: none;
                }
            }
            > h1 {
                font-size: 1.05rem;
                margin-left: 2.3rem;
                color: #FFFFFF;
            }
        }
        > .profile-settings-save-btn {
            background-color: #FFFFFF;
            color: #000000;
            font-weight: 800;
            border: none;
            border-radius: 50px;
            padding: 0.5rem 1.05rem;
            &:disabled {
                opacity: 0.5;
            }
        }
    }
    > .profile-settings-main {
        @include flex-column();
        > .cover-image-container {
            position: relative;
            width: 100%;
            height: 8rem;
            > .cover-image {
                background-color: g.$primary-blue;
                width: 100%;
                height: 8rem;
                opacity: 0.8;
            }
            > .cover-image-actions {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 4.5rem;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                > .remove-image {
                    background: url('../../assets/images/close-icon.svg') no-repeat center;
                    height: 0.9rem;
                    width: 0.85rem;
                }
            }
        }
        .change-image, .remove-image {
            border: none;
            > .hidden {
                display: none;
            }
        }
        .change-image {
            background: url('../../assets/images/camera.svg') no-repeat center;
            height: 1.3rem;
            width: 1.3rem;
        }
        > .profile-image-container {
            position: relative;
            height: 5.8rem;
            width: 5.8rem;
            margin: -2.8rem 0 0 1rem;
            > .profile-image {
                max-width: 5.8rem;
                border-radius: 50%;
                border: 4px solid #000000;
            }
            > .profile-image-actions {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        > .profile-main-details {
            @include flex-column();
            padding: 1rem;
            width: 100%;
            > .input-container {
                @include flex-column();
                width: 100%;
                margin: 1rem 0;
                > .input-label {
                    color: g.$secondary-text-colour;
                    font-size: 0.9rem;
                    margin-bottom: 0.2rem;
                }
                > .profile-settings-input {
                    background-color: transparent;
                    color: #FFFFFF;
                    font-size: 1rem;
                    font-weight: 500;
                    border: 1px solid g.$border-colour;
                    border-radius: 5px;
                    padding: 0.5rem;
                    width: 100%;
                    &:focus {
                        outline: 2px solid g.$primary-blue !important;
                    }
                }
                > .profile-settings-bio {
                    resize: none;
                    min-height: 4rem;
                }
                > .error-message {
                    margin-top: 0.4rem;
                    font-size: 0.8rem;
                    color: g.$primary-red;
                    display: none;
                }
                > .input-error {
                    border: 1px solid g.$primary-red !important;
                    &:focus {
                        outline: 2px solid g.$primary-red !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .profile-settings {
        border-left: 1px solid g.$border-colour;
        border-right: 1px solid g.$border-colour;
        border-bottom: 1px solid g.$border-colour;
    }
}

@media screen and (min-width: 1200px) {
    .profile-settings-save-btn:hover {
        cursor: pointer;
    }
}
