@use '../../global' as g;

.account-information {
    max-width: 600px;
    margin: 0 auto;
    .account-information-main {
        width: 100%;
        > .account-information-nav {
            width: 100%;
            border-bottom: 1px solid g.$border-colour;
            > ul {
                @include g.flex-column();
                width: 100%;
                padding: 1rem;
                > .account-information-link-container {
                    width: 100%;
                    list-style: none;
                    > .account-information-link {
                        width: 100%;
                        text-decoration: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 1rem 0;
                        > .link-content {
                            @include g.flex-column();
                            > .link-title {
                                color: #FFFFFF;
                                font-size: 0.9rem;
                            }
                            > .link-secondary-text {
                                color: g.$secondary-text-colour;
                                font-size: 0.8rem;
                            }
                        }
                        > svg {
                            max-width: 1.3rem;
                        }
                    }
                }
            }
        }
        > .account-creation-container {
            @include g.flex-column();
            width: 100%;
            padding: 1rem;
            > .account-creation-title {
                color: #FFFFFF;
                font-size: 0.9rem;
            }
            > .account-creation-time {
                color: g.$secondary-text-colour;
                font-size: 0.8rem;
            }
        }
    }    
}

@media screen and (min-width: 800px) {
    .account-information {
        border-left: 1px solid g.$border-colour;
        border-right: 1px solid g.$border-colour;
        border-bottom: 1px solid g.$border-colour;
    }
}
