@use '../../global' as g;

.tweet {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border-bottom: 1px solid g.$border-colour;
    > .tweet-profile-pic {
        max-width: 2.5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    > .main-tweet-content {
        @include g.flex-column();
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        > .tweet-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 0.2rem;
            > .tweet-header-main-container {
                @include g.flex-column();
                max-width: 87%;
                .tweet-header-main {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    > .tweet-user-name {
                        color: #FFFFFF;
                        margin-right: 0.5rem;
                        font-weight: 700;
                        min-width: max-content;
                    }
                    > .tweet-user-username {
                        color: g.$secondary-text-colour;
                        font-size: 0.9rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    > .separator {
                        height: 2px;
                        width: 2px;
                        border-radius: 50%;
                        margin: 0 0.5rem;
                        background-color: g.$secondary-text-colour;
                    }
                    > .tweet-time {
                        color: g.$secondary-text-colour;
                        font-size: 0.9rem;
                        min-width: max-content;
                    }
                }
                .reply-info > p {
                    color: g.$secondary-text-colour;
                    font-size: 0.9rem;
                    padding: 0.2rem 0;
                    > span {
                        color: g.$primary-blue;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .options {
                background: url('../../assets/images/options-dots.svg') no-repeat center;
                background-size: 0.9rem;
                border: none;
                border-radius: 50%;
                height: 0.9rem;
                width: 0.9rem;
                min-width: 0.9rem;
                > .hidden {
                    display: none;
                }
            }
        }
        .tweet-main {
            color: #FFFFFF;
            width: 100%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .tweet:hover {
        cursor: pointer;
    }
    .tweet-user-name:hover {
        text-decoration: underline;
    }
    .options:hover {
        cursor: pointer;
        background: url('../../assets/images/options-dots.svg') no-repeat center, #1a1a1a !important;
    }
}
