@use '../../global' as g;

.bookmarks {
    overflow: hidden;
    > .bookmarks-header {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
        > .bookmarks-header-main {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > .back {
                background: url('../../assets/images/left-arrow.svg') no-repeat center;
                background-size: 1rem;
                height: 1rem;
                width: 1.2rem;
                border: none;
            }
            > .bookmarks-header-content {
                @include g.flex-column();
                margin-left: 2.2rem;
                > h1 {
                    color: #FFFFFF;
                    font-size: 1rem;
                    font-weight: 800;
                }
                > .bookmarks-user-username {
                    color: g.$secondary-text-colour;
                    font-size: 0.8rem;
                }
            }
        }
        > .bookmarks-options-btn {
            background: url('../../assets/images/options-dots-white.svg') no-repeat center;
            background-size: 1rem;
            height: 1rem;
            width: 1rem;
            border: none;
        }
        .hidden {
            display: none;
        }
    }
    > .bookmarks-main {
        @include g.flex-column();
        width: 100%;
        > .tweet-container {
            @include g.flex-column();
            width: 100%;
        }
        > .bookmark-options {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 5;
            border-radius: 20px 20px 0 0;
            background-color: #000000;
            padding: 1rem;
            @include g.flex-column();
            > .clear-bookmarks {
                background-color: transparent;
                color: g.$primary-red;
                font-size: 1rem;
                border: none;
                margin-bottom: 1rem;
            }
            > .cancel {
                width: 100%;
                background: none;
                border: 1px solid g.$secondary-text-colour;
                border-radius: 50px;
                color: #FFFFFF;
                padding: 0.7rem 0;
                font-size: 0.95rem;
                font-weight: 700;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .bookmarks-header {
        border-left: 1px solid g.$border-colour;
        border-right: 1px solid g.$border-colour;
    }
    .bookmark-options {
        position: fixed !important;
        bottom: auto !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        border: 1px solid g.$border-colour;
        border-radius: 10px !important;
        box-shadow: 0 0px 5px 5px #1a1a1a;
    }
}
