@use '../../global' as g;

.change-password {
    max-width: 600px;
    margin: 0 auto;
    > .change-password-main {
        @include g.flex-column();
        > .current-password-container, .update-password-container {
            padding: 1rem;
            border-bottom: 1px solid g.$border-colour;
            width: 100%;
            .error-message {
                color: g.$primary-red;
                font-size: 0.8rem;
                padding: 0.3rem 0.5rem;
                display: none;
            }
            .change-password-link {
                padding: 0.1rem 0.5rem;
                color: g.$primary-blue;
                font-size: 0.8rem;
                text-decoration: none;
            }
        }
        .change-password-input-container {
            @include g.flex-column();
            > .change-password-input {
                width: 100%;
                background-color: transparent;
                color: #FFFFFF;
                border: 1px solid g.$border-colour;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500;
                padding: 1.1rem 0.5rem;
                &::placeholder {
                    color: g.$secondary-text-colour;
                }
                &:focus {
                    outline: 2px solid g.$primary-blue !important;
                }
            }
            .input-error {
                border: 1px solid g.$primary-red !important;
                &:focus {
                    outline: 2px solid g.$primary-red !important;
                }
            }
        }
        > .update-password-container > .change-password-input-container:last-child {
            margin-top: 1.5rem;
        }
        > .save-btn-container {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding: 1rem;
            > .change-password-save-btn {
                background-color: g.$primary-blue;
                color: #FFFFFF;
                font-size: 0.9rem;
                font-weight: 700;
                border: none;
                border-radius: 50px;
                padding: 0.5rem 1rem;
                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .change-password {
        border-left: 1px solid g.$border-colour;
        border-right: 1px solid g.$border-colour;
        border-bottom: 1px solid g.$border-colour;
    }
}
